useDynLib(lacm, .registration = TRUE)

import("stats")

importFrom("numDeriv", "jacobian")
importFrom("statmod", "gauss.quad")
importFrom("graphics", "grid")

export(lacm, CLIC, select.C, select.order)

S3method("coef", "lacm")
S3method("print", "lacm")
S3method("print", "summary.lacm")
S3method("simulate", "lacm")
S3method("summary", "lacm")
S3method("vcov", "lacm")




